.expense-group-form {
  & > * {
    align-items: center;
    display: flex;
    padding: rem(8 0);
    white-space: nowrap;

    & > * + * {
      margin-left: rem(20);
    }

    & > :last-child {
      text-align: right;
    }
  }

  &__item__info-fields {
    flex: 1;
  }

  &__item__expense-field {
    input {
      text-transform: uppercase;
    }
  }

  &___item_balance-field {
    input {
      width: rem(80);
    }
  }

  .expense-group-form__item__text-input {
    background: transparent;
    border: 0;
    display: inline-block;
    height: auto;
    line-height: 1.4;
    text-overflow: ellipsis;
    width: 100%;

    & > input {
      padding-left: rem(1);
    }
  }

  &--is-new-expense {
    margin-bottom: rem(8);

    .expense-group-form__item {
      display: flex;
      flex-direction: column;

      & > * {
        margin-left: 0;
        text-align: left;
        text-transform: inherit;
        width: 100%;
        margin-bottom: rem(8);
      }
    }

    .expense-group-form__item__info-fields {
      & > * {
        margin-bottom: rem(8);
      }
    }

    .expense-group-form__item__expense-field {
      input {
        text-transform: inherit;
      }
    }

    .expense-group-form__item__status-field {
      order: 3;
    }
  }
}
