.expense-group-form {
  &__list {
    & > * {
      align-items: center;
      display: flex;
      padding: rem(8 0);
      white-space: nowrap;

      & > * {
        margin-bottom: rem(8);
      }

      & > * + * {
        margin-left: rem(20);
      }

      & > :last-child {
        text-align: right;
      }
    }
  }

  &__expense-field {
    flex: 1;
  }

  &__balance-field {
    input {
      width: rem(80);
    }
  }

  .expense-group-form__text-input {
    border: 0;
    display: inline-block;

    & > input {
      padding-left: rem(1);
    }
  }
}
