.expenses-overview {
  display: flex;
  flex-wrap: wrap;

  &__hd {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &__item {
    flex: 1;
    padding: rem(0 0 20);
  }

  &__balances {
    border-top: rem(1) solid darken($gray-100, 7%);
    display: flex;
    margin: rem(16 0);
    padding-top: rem(16);

    & > * {
      flex: 1;
      text-align: center;
    }
  }

  @media (min-width: $breakpoint-medium) {
    &__item {
      flex: 50% 0 0;
      padding: rem(10);
    }
  }
}
