html,
body,
#root {
  height: 100%;
}

body {
  font-size: rem(16);
  line-height: 1.3;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: rem(38);
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: rem(24);
}

hr {
  border-top: 1px solid $gray-100;
}
