.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    background: $blue-500;
    height: rem(50);
  }

  &__main {
    display: flex;
    height: calc(100vh - 50px);
    overflow: auto;
  }

  &__sidebar {
    background: $gray-000;
    min-width: rem(220);
    overflow: auto;
  }

  &__content {
    flex: 1;
    overflow: auto;
    padding: rem(24);
  }
}
