.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    background: $blue-500;
    height: rem(50);
  }

  &__main {
    display: flex;
    height: 100%;
  }

  &__sidebar {
    background: $gray-000;
    max-width: rem(250);
    overflow: auto;
  }

  &__content {
    padding: rem(24);
    overflow: auto;
  }
}
