.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    display: flex;
    align-items: stretch;
    height: rem(50);
  }

  &__main {
    display: flex;
    height: calc(100vh - 50px);
    overflow: auto;
  }

  &__sidebar {
    background: $gray-000;
    display: none;
    min-width: rem(220);
    overflow: auto;
  }

  &__content {
    flex: 1;
    overflow: auto;
    padding: rem(24);
  }

  @media (min-width: $breakpoint-medium) {
    &__sidebar {
      display: block;
    }
  }
}
