.header {
  align-items: center;
  background: $blue-500;
  display: flex;
  padding: rem(0 16);
  width: 100%;

  &__logo {
    align-items: center;
    display: flex;
    color: $white;
    text-decoration: none;
  }

  &__logo__icon {
    margin-right: rem(8);
  }

  &__logo__text {
    font-size: rem(18);
    font-weight: $font-medium;
    text-transform: uppercase;
  }
}
