.expense-group-detail {
  &__hd {
    border-bottom: rem(1) solid darken($gray-100, 5%);
    margin-bottom: rem(16);
    padding-bottom: rem(16);

    & > * + * {
      margin-top: rem(8);
    }
  }

  &__ft {
    border-top: rem(1) solid $gray-100;
  }

  @media (min-width: $breakpoint-medium) {
    &__hd {
      align-items: center;
      display: flex;

      & > * {
        flex: 1;
      }

      & > * + * {
        margin-top: 0;
      }
    }

    &__bd {
      display: flex;

      & > * {
        flex: 1;
      }

      & > * + * {
        margin-left: rem(32);
      }
    }
  }
}
